

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey-light: #f6f6f6;
$grey-dark: #353535;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color:white;
 }
.header {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
  height: 63px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  @include flex-center ;
}
.main {
  background-color: white;
}
.localisation {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); 
   margin: 0;
   @include flex-center;
}
.localisation__form {
  height: 50px;
  gap: 17px;
@include flex-center;
  input {
    border: none;
    background-color: #EAEAEA;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  i {
    color: $grey-dark;
    font-size: 16px;
  }
}
.exploration {
  flex-direction: column;
  text-align: center;
  background-color : $grey-light;
  @include flex-center ;
}
.exploration h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.exploration p {
  font-size: 18px;
  font-weight: 300;
}
.btn-home {
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
}
.btn-primary{
 background-image: linear-gradient(to top, $secondary, $primary );
  margin-top: 15px;
  margin-bottom: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 0;
}
.section-title {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  
 }
.fonctionnement__item {
  position: relative;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background-color: $grey-light;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  @include flex-center ;
}
.fonctionnement__item span {
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement__item i {
  margin-right: 20px;
}
.fonctionnement__item-mobile {
  font-size: 19px;
  color: #7e7e7e;
}
.fonctionnement__item-listul {
  font-size: 17px;
  color: #7e7e7e;
}
.fonctionnement__item-store {
  font-size: 18px;
  color: $primary;
}
.fonctionnement__number {
  position: absolute;
  left: -10px;
  width: 24px;
  height: 24px;
  background-color: $primary ;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 50px;
  @include flex-center ;
}
/*restaurants*/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-light;
  padding:0 16px 50px;
  width: 100%;
}
.restaurants-cards{
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  max-width: 340px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 18px;

}
.restaurant-img {
  width:100%;       
  height:251px;      
  object-fit: cover;  
  display: block; 
  }    
.new {
  border: none;
  position: relative
}
.new::before {
 content: "Nouveau";
  position: absolute;
  
  width: 80px;
  height: 29px;
  top:13px;
  left: 248px;
  color: #008766; 
  background-color: $tertiary;
  text-align:center;
  font-weight: 500;
  font-size: 14px;
  @include flex-center ;
  }
  .restaurants-cards a {
  text-decoration: none; 
  color: inherit;      
}

.restaurants-h4 {
  margin-left: 13px;
  margin-bottom: 0;
  font-size:18px ;
  font-weight:700;
}
.restaurants-p {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 13px;
  font-size: 17px;
  font-weight: 300;
}
.heart {
  width: 22px;
  height: 21px;
  font-size: 22px;
}
.footer {
  flex-direction: column;
  background-color: $grey-dark ;
  padding: 22px 25px;
  gap: 16px;
  color: white;
  
}
.footer-h5 {
  text-align: start;
  font-family: "Shrikhand", serif;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  
  }
.footer-links {
  list-style: none;   
  margin: 0; 
  padding: 0;
  line-height: normal;
  max-width: 400px;        
}
.footer-links li {
  display: flex;      
  align-items: center;
  gap: 16px;           
  margin-bottom: 10px;
}
.footer-links li a,
.footer-contact {
  text-decoration: none; 
  color: white;         
}
.footer-links li i {
  font-size: 18px;      
  color: white;       
}
.goback{
 font-size: 30px;
 left: 17px;
 cursor: pointer;
 position: absolute;
 top: 14px;
 z-index: 10;
 }
 .goback i {
  pointer-events: auto;
  color: #000;
 }
.menu{
  flex-direction: column;
  background-color: $grey-light;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  @include flex-center ;
  }
.menu-img{
  width: 375px;
  height: 275px;
  object-fit: cover;  
  display: block; 
  margin: auto;
}
.title-shrikhand{
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
  gap: 10px;
}
.h3-menu{
width: 275px; 
height: 27px;
margin-top: 40px;
margin-bottom: 12px;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: start;
}
.trait {
  display: inline-block;
  width:40px;
  border-bottom: 3px solid $tertiary;
  margin-bottom: 12px;
}
.card-menu{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 349px;
  height: 69px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  
  padding: 15px;
  box-shadow: 0 4.011px 15.043px 0 rgba(0, 0, 0, 0.10);
}
.h4-menu{
overflow: hidden;
color: #000;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 18px;
font-weight: 700;
line-height: normal;
margin: 0 0 5px 0;
}
.p-menu{
overflow: hidden;
color: #000;
text-overflow: ellipsis;
white-space: nowrap;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin:0;
flex: 1;
}
.price-menu{
  font-size: 15px;
  font-weight: 700;
}
.btn-menu {
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 50px;
  width: 186px;
  border-radius: 25px;
  border: none;
}
.btn-secondary{
  background-image: linear-gradient(to top, $secondary , $primary );
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
