
*,
::before,
::after {
  box-sizing: border-box;

 
}

 body {
  font-family: "Roboto", sans-serif;
 
  margin: 0;
  
   }
.header {
  font-family: "Shrikhand", serif;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 63px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.localisation {
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-color:#EAEAEA;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  margin: 0;
}  
.localisation__form {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
 
  gap:17px;

}

.localisation__form input {
  
  border: none;
  background-color:#EAEAEA ;
 
  width: 100%;
  height: 100%;
  font-size: 16px;
}
 
/* Icône */
.localisation__form i {
  color: #353535;            
  font-size: 16px;
}
.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
background-color: #f6f6f6;


}
.exploration h2{
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.exploration p{
font-size: 18px;
font-weight: 300;

}  

.gradient {
  height:50px ;
  width:218px ;
  border-radius: 25px;
  background-image: linear-gradient(to top,#FF79DA,#9356DC);
border: none;
margin-top: 15px;
margin-bottom:60px;
font-size: 16px;
font-weight: 500;
color: white;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) ;
}
.fonctionnement{
  display: flex;
  flex-direction: column;
 align-items: center;
margin-top: 15px;
margin-bottom: 0;
}
  

.fonctionnement h3{
display: flex;
  margin-top: 48px;
  margin-left: 20px;
  margin-right: 80px;
  font-size: 24px;
  font-weight: 700;
  align-items:start;
  justify-content: right;
 
  
}

  

.fonctionnement__item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background-color: #f6f6f6;
   box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
   border: none;
   margin-top: 25px;
   font-size: 16px;
   font-weight: 500;
   
}
.fonctionnement__item span{
  font-size:16px;
  font-weight:500;
 
}
.fonctionnement__item i{
  margin-right: 20px;

}
.fonctionnement__item-mobile{
  font-size: 19px;
  color: #7e7e7e;

}
.fonctionnement__item-listul{
  font-size: 17px;
  color: #7e7e7e;
}
.fonctionnement__item-store{
  font-size: 18px;
  color: #9356DC;
 
}
.fonctionnement__number{
  position: absolute;
 left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 50px;
  
}
/*restaurants*/

.restaurants{
display: flex;

flex-direction: column;
align-items: center;
background-color: #f6f6f6;
padding-bottom: 50px;
 width: 100%;

}

.restaurants-cards .card{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  width: 350px;


}
.restaurants-cards img{
 
  width: 100%;
  object-fit: cover;
  
 height: 251px;
 
}

.restaurants-h4 {
align-items: start;

font-size: 24px;
font-weight: 700;
}
.restaurants-h3{
margin-left: 13px;
margin-bottom: 0;
}
.restaurants-p{
  margin-top: 0;
  margin-bottom:15px;
  margin-left: 13px;
  font-size: 17px;
  font-weight: 300;
}

.card {
  text-decoration: none;
  color: inherit;
  margin-bottom: 18px;
}
.restaurants-card__like{
  display: flex;
  justify-content: end; 
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 25px;

font-size: 22px;

}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 16px;
  color: white;
}
.footer-h4{
   font-family: "Shrikhand", serif;
   justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.footer-contact{
  text-decoration: none;
  color: white;
}
.footer-ul{
  
}